django-jazzmin
django
djangorestframework
django-cors-headers
python-dotenv
dj-database-url
whitenoise
gunicorn
reportlab
psycopg2-binary
xhtml2pdf
weasyprint==60.2
qrcode==7.4.2
Pillow==10.4.0
django-redis==5.4.0
redis==5.0.1
